@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  padding-left: 1em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Custom styles for colored bullet points */
.list-disc li::marker {
  color: #844631;
  font-size: small;
}

.list-decimal li::marker {
  color: #844631;
  font-weight: bolder;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1.005rem;
}

th {
  padding-left: 2rem;
  font-weight: 500;
}

td {
  text-indent: -22rem;
  color: #844631;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #ccc;
}

tr:last-child {
  border-bottom: none;
}
